{"Id": "eab5e48f-fbef-6811-2cca-fed377d24801", "Description": "Cornwall College Saltash - Cornwall", "Speed": "Fast", "SpeedTitle": "22 kW", "ChademoMaxSpeed": -1.7976931348623157e+308, "CcsMaxSpeed": -1.7976931348623157e+308, "RapidMaxSpeed": -1.7976931348623157e+308, "FastMaxSpeed": 22.0, "SlowMaxSpeed": -1.7976931348623157e+308, "TotalConnectors": 2, "TotalChademo": 0, "TotalCcs": 0, "TotalRapidAc": 0, "TotalFastAc": 2, "TotalSlowAc": 0, "InUseChademo": 0, "InUseCcs": 0, "TotalUndefined": 0, "InUseRapidAc": 0, "InUseFastAc": 0, "InUseSlowAc": 0, "FailedChademo": 0, "FailedCcs": 0, "FailedRapidAc": 0, "FailedFastAc": 2, "FailedSlowAc": 0, "Title": "Cornwall College Saltash - Cornwall", "Latitude": 50.406739, "Longitude": -4.227574, "IsFreeCharge": false}